.desktop {
  width: 100%;
  height: 100vh;
  background-image: url('https://raw.githubusercontent.com/Ravi-paribrajak/Macos_Assests/main/images/wallpaper.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 8px;
  position: relative;
}
